<% include ../partials/header %>

<div class="container">
  
  <header class="jumbotron">
    <div class="container">
      <h2><i class="fa fa-fire fa-2x" aria-hidden="true"></i> Welcome To RoleCamp!</h2>
      <p>
        <a class="btn btn-primary btn-lrg" href="/campgrounds/new"> Add new camp</a>
      </p>
      <div>
        <form class="form-inline" action="/campgrounds" method="GET">
          <input class="form-control" type="text" name="search_input" placeholder="search for a campground">
          <button class="btn btn-default"><a> <i class="fa fa-search" aria-hidden="true"></i> </a>Search</button>
        </form>
      </div>
    </div>
  </header>
  
  <div class="row text-center">
    <% campgrounds.forEach(function(campground){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <h4><%= campground.name %></h4>
          <img src=<%= campground.img %>>
          <p>
            <a class="btn btn-primary btn-lrg" style="margin-top: 10px;" href="/campgrounds/<%= campground._id %>"> More info </a>
          </p>
        </div>
      </div>
    <% }); %>
  </div>

</div>
<% include ../partials/footer.ejs %>