.img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 0 10px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.nav.navbar-nav.navbar-right li a {
  color: white;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}